@font-face {
    font-family: 'league-gothic.condensed-regular';
    src: url('../fonts/league-gothic.condensed-regular.ttf');
}

@font-face {
    font-family: 'league-gothic.regular';
    src: url('../fonts/league-gothic.regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'MYRIADPROREGULAR';
    src: url('../fonts/MYRIADPROREGULAR.woff');
}

body {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'OpenSans-Light';
    font-size: 14px;
}


/*HEDER*/

header {
    display: flex;
    width: 960px;
    position: relative;
    margin: 0 auto;
    font-family: 'league-gothic.regular';
    font-size: 24px;
}

.logo img {
    display: block;
}

.nav_menu {
    display: flex;
    color: #fff;
}

.nav_menu li {
    list-style-type: none;
    padding-right: 7%;
}

.nav_menu a {
    text-decoration: none;
    color: #fff;
}

.banner_img {
    position: absolute;
    top: 82%;
    left: 45%;
}

.banner {
    font-family: 'league-gothic.regular';
    background: rgba(0, 0, 0, .3);
}

.banner_content {
    margin: 0 auto;
    display: flex;
    width: 960px;
}

.banner_text {
    width: 35%;
    padding: 6% 10% 6% 0;
}

.banner_text h2 {
    margin: 20px 0 0 0;
    font-size: 60px;
}

.banner_text h3 {
    margin: 0;
    font-size: 32px;
}

.banner_text p {
    margin: 0;
    font-size: 18px;
}

.content {
    background: linear-gradient(to top, #33263a, #745082);
}

.our_company {
    display: flex;
    color: white;
    width: 960px;
    margin: 0 auto;
    font-family: 'MYRIADPROREGULAR';
}

.our_company_one,
.our_company_two,
.our_company_three {
    padding: 5%;
}

.our_company h3 {
    margin: 0;
    font-size: 30px;
}

/*.our_company_one h3:before {
    content: url('../img/key.png');*/
}

.our_company p {
    margin: 0;
    width: 83%;
    height: 17%;
    overflow: hidden;
    font-family: 'OpenSans-Light';
    font-size: 16px;
}

.our_company a {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}