@font-face {
    font-family: 'league-gothic.condensed-regular';
    src: url('../fonts/league-gothic.condensed-regular.ttf');
}

@font-face {
    font-family: 'league-gothic.regular';
    src: url('../fonts/league-gothic.regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

body {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'OpenSans-Light';
    font-size: 10px;
}

/*HEDER*/

header {
    width: 35%;
    margin: 0 auto;
}

.logo img {
    display: block;
}

.menu {
    display: flex;
    padding: 0;
    color: #fff;
}

.menu li {
    list-style-type: none;
    margin-right: 5%;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.banner {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
}

.banner_text {
    width: 16%;
}

.banner_img img {
    width: 70%;
}