@font-face {
    font-family: 'league-gothic.condensed-regular';
    src: url('../fonts/league-gothic.condensed-regular.ttf');
}

@font-face {
    font-family: 'league-gothic.regular';
    src: url('../fonts/LeagueGothicRegular.woff');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}

body {
    font-family: 'OpenSans-Light';
    font-size: 14px;
}


/*HEDER*/

header {
    background: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 170px;
}

.menu {
    display: flex;
    width: 960px;
    position: relative;
    margin: 0 auto;
    font-family: 'league-gothic.regular';
    font-weight: normal;
    font-size: 24px;
}

.logo img {
    display: block;
}

.nav_menu {
    width: 80%;
    padding-left: 127px;
    color: #fff;
}

.nav_menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 46px;
}

.nav_menu li:hover {
    text-decoration: underline;
    color: #edbfff;
}
.nav_menu a,
.nav_menu_footer a {
    text-decoration: none;
    color: #fff;
}

.banner_img {
    position: absolute;
    top: 207px;
    left: 618px;
}

.banner {
    margin-top: 153px;
    font-family: 'league-gothic.regular';
    background: rgba(0, 0, 0, .3);
}

.banner_content {
    margin: 0 auto;
    display: flex;
    width: 960px;
}

.banner_text {
    width: 55%;
    padding: 6% 0 8% 0;
    line-height: 48px;
}

.banner_text h2 {
    margin: 25px 0 0 0;
    font-size: 57px;
    font-weight: normal;
    color: #fefefe;
}

.banner_text h3 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    color: #edbfff;
}

.banner_text p {
    margin: 0;
    font-size: 18px;
    font-family: 'OpenSans-Light';
    color: #fefefe;
    line-height: 25px;
}

.content {
    padding-bottom: 73px;
    background: linear-gradient(to top, #33263a, #745082);
}

.our_company {
    display: flex;
    color: white;
    width: 960px;
    margin: 0 auto;
    font-family: 'league-gothic.regular';
}

.our_company p {
    margin: 7px 0 0 54px;
    padding-bottom: 70px;
    width: 248px;
    height: 56px;
    overflow: hidden;
    line-height: 25px;
    font-family: 'OpenSans-Light';
    font-size: 16px;
}

.our_company h3 {
    margin: 0;
    font-size: 29px;
    font-weight: normal;
}

.our_company a {
    margin: 11px 0 0 215px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.our_company a:hover {
    text-shadow: 0 0 30px #fff;
} 

.head_company h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 2rem;
    background: url('../img/key.png') no-repeat;
}

.our_company_one {
    margin: 76px 0 0 7px;
}

.our_company_two {
    margin: 76px 0 0 51px;
}

.our_company_three {
    margin: 76px 0 0 49px;
}

.our_company_one,
.our_company_two,
.our_company_three {
    width: 30%;
}

.inform {
    background: #fff;
    font-family: 'OpenSans-Light';
    padding-bottom: 130px;
}

.inform_content {
    display: flex;
    width: 960px;
    margin: 0 auto;
}

.inform_content h2 {
    color: #454545;
    margin: 0 5px 0 0;
    font-size: 29px;
    display: inline-block;
    font-weight: normal;
    font-family: 'league-gothic.regular';
}

.pingbuller {
    margin: 116px 0 0 0;
    width: 44%;
}

.head_pingbuller {
    display: flex;
    align-items: center;
}

.pingbuller h3 {
    margin: 0 5px 0 0;
    color: #edbfff;
    font-weight: normal;
    display: inline-block;
    font-size: 29px;
    font-family: 'league-gothic.regular';
}

.pingbuller p {
    height: 163px;
    overflow: hidden;
    line-height: 23px;
    margin: 0 0 0 66px;
}

.head_pingbuller:before {
    margin-right: 14px;
    content: url('../img/face.png');
}

.updates {
    margin: 123px 0 0 87px;
    width: 40%;
}

.recent:before {
    margin-right: 14px;
    content: url('../img/1icon.png');
}

.category:before {
    content: url('../img/2icon.png');
}


.labe {
    background: #fff;
    border-top: 1px solid;
}

.labe_img {
    width: 960px;
    margin: 0 auto;
}

.labe_img img {
    margin: 36px;
}

.news {
    background: #ececec;
}

.news_kategori {
    display: flex;
    color: #b9b9b9;
    width: 960px;
    margin: 0 auto;
}

.kategori_one,
.kategori_two,
.kategori_three {
    width: 30%;
}

.head_updates {
    display: flex;
    align-items: center;
}

.head_updates span {
    font-size: 21px;
}

p.under_head {
    font-style: italic;
}

footer {
    background: url('../img/footer.png');
    font-family: 'league-gothic.regular';
    font-weight: normal;
    color:#fff;
}

.nav_menu_footer {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
}

.nav_menu_footer ul {
    margin: 0;
    padding: 45px 0 0 0;
    width: 81%;
}

.nav_menu_footer li {
    display: inline-block;
    list-style-type: none;
    margin-right: 5%;
}

.designer_by {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    margin: 52px 0 48px 6px;
    width: 18%;
}

.designer_by p {
    font-family: 'OpenSans-Light';
    margin:0;
}

.designer_by span {
    font-family: 'OpenSans-ExtraBold';
}