
@media (min-width: 480px) and (max-width: 766px){
    .container-width {
        width: 480px;
    }

    header {
        padding-bottom: 99px;
    }
    
    .nav_menu {
    display: none;
    }

    .logo {
    margin: 63px auto;
    }

    .banner {
    margin-top: 31px;
    }
    
    .banner_content {
        padding-bottom: 91px;
    }

    .banner_img {
        top: -9px;
        left: 257px;
    }

    .banner_img img {
        width: 191px;
    }
    
    .banner_text {
        width: 30%;
        margin: 71px 0 0 39px;
    }

    .banner_text p {
        display: none;
    }

    .banner_text h2 {
        font-size: 2.3em;
    }

    .banner_text h3 {
    font-size: 1.2em;
    }
    
    .content {
        height: 599px;
        padding:0;
    }

    .our_company {
    display: block;
    }
    
    .our_company h3 {
    font-size: 1.4em;
    }

    .our_company_one {
    padding: 73px 0 0 25px;
    }

    .our_company_two {
        margin: 17px 0 0 22px;
    }

    .our_company_three {
        margin: 19px 0 0 19px;
    }

    
    .our_company_one p {
        margin: 0 0 0 57px;
        height: 71px;
        line-height: 23px;
        overflow: hidden;
    }

    .our_company_two p {
        margin: 0 0 0 62px;
        height: 71px;
        line-height: 23px;
        overflow: hidden;
    }

    .our_company_three p {
        margin: 0 0 0 65px;
        height: 71px;
        line-height: 23px;
        overflow: hidden;
    }


    .our_company_one a {
        margin: 13px 0 0 372px;
    }
    
    .our_company_two a {
        margin: 12px 0 0 376px;
    }
    
    .our_company_three a {
        margin: 10px 0 0 376px;
    }


    .our_company_one {
     margin: 0;
    }
    .our_company_one, .our_company_two, .our_company_three {
    width: 90%;
    }
    
    .inform {
        padding-bottom: 86px;
    }

    .inform_content {
        display: table;
    }

    .pingbuller {
        margin: 87px 0 0 20px;
        width: 88%;
    }

    .pingbuller p {
    line-height: 24px;
    margin: 0 0 0 68px;
    }

    .updates {
    margin: 128px 0 0 84px;
    width: 95%;
    }

    .container p {
        width: 243px;
        white-space: nowrap;
        overflow: hidden;
    }

    a.more {
        display: none;
    }
    
    a.more_blog {
        display: table;
        margin: 18px 0 0 249px;
    }

    .labe {
        padding-bottom: 38px;
    }

    img.logos {
        display: none;
    }
    
    img.logos768 {
        display: none;
    }

    img.logos480 {
        margin: 37px 0 0 69px;
    }
    
}